<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit</title>
</head>
<body>

<form method="post" action="/chats/<%= chat[0]._id %>?_method=PATCH">
    <h1 class="text-3xl font-bold px-9 pt-6">Edit Your Message</h1>
    <div class="p-9">
        <h1 class="text-xl py-7 font-bold">Id : <%= chat[0]._id %></h1>
        <textarea class="resize-none border-2 hover:border-sky-200 outline-none rounded-xl p-2 w-1/5" name="Newmsg"><%= chat[0].msg %></textarea> <br><br>
        <button class="border-2 p-1 px-4 rounded text-xs hover:border-sky-300 hover:bg-sky-300">Edit</button>
    </div>
</form>    
</body>
</html>