<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty</title>
</head>
<body>
    <form action="/data/info">
        <h1>Our Users List Is Empty</h1>
        <button>Join Us</button>
    </form>
</body>
</html>