* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 3rem;
}

.Heading {
    margin-bottom: 3rem;
}

.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.post {
    width: 100%;
    background-color: rgb(223, 165, 165);
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
}

.user {
    font-size: 1.5rem;
    margin-bottom: .7rem;
}

.content {
    margin-left: 1.5rem;
}

.createpost {
    padding: 1rem;
    background-color: rgb(152, 196, 234);
    border-radius: 10px;
}

.createpost a {
    text-decoration: none;
    color: black;

}

.detail {
    padding-left: 1.5rem;
}

.detail a {
    text-decoration: none;
    color: black;
}

.Back a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: black;
}