<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, repudiandae nulla voluptatem qui harum illo
        obcaecati aliquam consectetur vitae nihil perspiciatis aperiam. Maiores iste quos nemo ab, quis qui recusandae?
    </p>

    <button>click me</button>

</body>

</html>