<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form method="post" action="/edit">
        <input name="oldname" placeholder="<%= filename %>"  value="<%= filename %>" /><br /><br />
        <input placeholder="Enter New Filename" name="filename" /><br /><br />
        <button>Update Task</button>
      </form>
</body>
</html>